@model Garage2.Models.UnparkInfoViewModel

@{
    ViewData["Title"] = "Delete";
}

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/vehicles.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

<h1>Unpark Vehicle @Model.RegNr</h1>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NOWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NOWheels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt class="col-sm-2">
            Time of parking:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BeginParking)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndParking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndParking)
        </dd>

    </dl>
    <hr/>
    <dl style="padding: 0px;">

        <dt class="col-sm-2" style="padding: 0px;">
            @Html.DisplayNameFor(model => model.Period):
        </dt>
        <dd class="col-sm-10" style="padding: 0px;">
            <em>@Html.DisplayFor(model => model.Period) min</em>
        </dd>
        <dt class="col-sm-2" style="padding: 0px;">
            @Html.DisplayNameFor(model => model.Price):
        </dt>
        <dd class="col-sm-10" style="padding: 0px;">
            <em>@Html.DisplayFor(model => model.Price):-</em>
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Depart" class="btn btn-danger" autofocus="autofocus" tabindex="1" /> |
        <a asp-action="Index" tabindex="2">Back to List</a>
    </form>
</div>
