@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewData["Title"] = "GetVehicleViewModels";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/vehicles.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Time of parking:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginParking)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-dark">
                        Edit
                        <i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-dark">
                        Details
                        <i class="fa fa-list-alt text-info" aria-hidden="true"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-dark">
                        Depart
                        <i class="fa fa-caret-square-o-right text-danger" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
}
    </tbody>
</table>
