@model Garage2.Models.UnparkInfoViewModel

@{
    ViewData["Title"] = "Delete";
}

    <head>
        <link rel="stylesheet" type="text/css" media="screen, print" href="~/css/vehicles.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

@{ 
    double minutePrice = @Model.Price / @Model.Period;
}
<div class="container" id="receipt">
    <div class="card">
        <!-- Footer -->
        <footer class="page-footer font-small">

            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-1">

                <!-- Grid row -->
                <div class="row mt-1 dark-grey-text">

                    <!-- Grid column -->
                    <div class="col-md-6" style="float: left;">
                        <h4>
                            Vehicular Parking Agency.Co
                        </h4>
                    </div>

                    <!-- Grid column -->
                    <div class="col-md-6 text-right">
                        <!-- Links -->
                        <p>
                            Liljeholmen, Stockholm 100 10, SE
                        </p>
                        <p>
                            info@example.com
                        </p>
                        <p>
                            + 01 234 567 88
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

        </footer>
        <!-- Footer -->
        <div class="card-header">
            <h2>Invoice @Model.EndParking.ToString("yyyyMMdd")-@Model.RegNr</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Registration
                        </th>
                        <th>
                            Color
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Manufacturer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Model)
                        </th>
                        <th>
                            Vehicle Type
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.RegNr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Type)
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-4 col-sm-5">

                </div>

                <div class="col-lg-4 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left">
                                    <strong>Price/min</strong>
                                </td>
                                <td class="right">SEK @minutePrice:-/min</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Minutes parked</strong>
                                </td>
                                <td class="right">@Model.Period</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Total</strong>
                                </td>
                                <td class="right">
                                    <strong>SEK @Model.Price:-</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="footer-copyright text-center text-black-50 py-3">
            © 2019 Copyright:
            <a class="dark-grey-text" href="google.com">Website.com here</a>
        </div>
    </div>

    <a class="btn btn-warning d-print-none" style="float:left;" href="javascript:window.print()" autofocus="autofocus" tabindex="1">Print Receipt</a>

    <form asp-action="Index" style="float:right;" class="d-print-none">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Continue" class="btn btn-success" tabindex="2" />
    </form>
