@model Garage2.Models.StatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/vehicles.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <div>
        <dl class="row">
            <dt class="col-sm-3">
                Sedans:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AmountSedan)
            </dd>
            <dt class="col-sm-3">
                SUVs:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AmountSUV)
            </dd>
            <dt class="col-sm-3">
                MCs:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AmountMC)
            </dd>
            <dt class="col-sm-3">
                Buses:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AmountBus)
            </dd>
            <dt class="col-sm-3">
                Limousines:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AmountLimo)
            </dd>
            <dt class="col-sm-3">
                Total amount of wheels: 
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TotalWheels)
            </dd>
            <dt class="col-sm-3">
                Total amount of vehicles:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TotalVehicles)
            </dd>
            <dt class="col-sm-3">
                Combined parking time: 
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TotalHours)hrs
            </dd>
            <dt class="col-sm-3">
                Combined price:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TotalPrice):-
            </dd>
        </dl>

    </div>

<div>
    <a asp-action="Index" tabindex="8">Back to List</a>
</div>
